<div
  class="quote mx-auto my-2 p-6 w-[60%] flex flex-col rounded shadow-md shadow-indigo-500/50 transition-all cursor-pointer hover:shadow-indigo-500/50 hover:shadow-xl"
  (click)="refetchQuote()"
>
  <p *ngIf="!isLoading">{{ quote.content }}</p>
  <ng-container *ngIf="isLoading">
    <p class="h-3 bg-gray-200 animate-pulse w-[46ch] my-4"></p>
    <p class="h-3 bg-gray-200 animate-pulse w-[44ch] my-4"></p>
    <p class="h-3 bg-gray-200 animate-pulse w-[37ch] my-4"></p>
  </ng-container>

  <p *ngIf="!isLoading" class="text-sm text-gray-500 mt-2 tracking-widest">
    {{ quote.author }}
  </p>
  <ng-container *ngIf="isLoading">
    <p class="h-3 bg-gray-200 animate-pulse w-[20ch] my-4"></p>
  </ng-container>

  <div
    *ngIf="!isLoading"
    class="text-xs mt-2 tracking-wide ml-auto inline-block"
  >
    <span
      *ngFor="let tag of quote.tags"
      class="tag mx-2 font-black"
      [ngStyle]="{
        background: getRandomGradient(),
        'background-clip': 'text',
        '-webkit-background-clip': 'text',
        color: 'transparent'
      }"
      >{{ tag }}</span
    >
  </div>
  <ng-container *ngIf="isLoading">
    <p class="h-3 bg-gray-200 animate-pulse w-[15ch] my-4 ml-auto"></p>
  </ng-container>
</div>
